.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh; /* Make the form container take up the full viewport height */
  text-align: center;
  background: #f7f7f7; /* Light background for the form area */
}

.login-form form {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.login-form input[type="email"],
.login-form input[type="password"] {
  width: 80%; /* Responsive width */
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-form button {
  width: 85%;
  padding: 10px;
  background-color: #0056b3; /* Example primary color */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.login-form button:hover {
  background-color: #004494; /* Darker shade for hover effect */
}
