/* Pagination Styles */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem; /* Adjusted padding for consistency */
  margin-top: 1rem; /* Adjusted margin for spacing */
  list-style: none; /* Removes default list styling */
}

.page-link {
  color: #241046; /* Primary blue for a cohesive look */
  background-color: white; /* Light background for clarity */
  padding: 0.75rem 1rem; /* Slightly larger padding for better touch targets */
  margin: 0 0.5rem; /* Adjusted margin for spacing */
  text-decoration: none;
  border-radius: 8px; /* Rounded corners for a modern look */
  border: 1px solid #ddd; /* Light border for consistency */
  transition:
    background-color 0.3s,
    color 0.3s,
    border-color 0.3s; /* Smooth transitions */
  cursor: pointer; /* Cursor pointer for interactivity */
}

.page-link:hover,
.page-link:focus {
  background-color: #241046; /* Dark blue for hover/focus state */
  color: white; /* White text for contrast */
  border-color: #004085; /* Darker border for hover/focus state */
}

.page-link.active {
  background-color: #241046; /* Primary blue for active page */
  color: white; /* White text for high contrast on active */
  border-color: #0056b3; /* Darker blue border for active link */
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
  .page-link {
    padding: 0.5rem 0.75rem; /* Smaller padding on mobile */
    font-size: 0.875rem; /* Smaller font size on mobile */
  }
}
.product-data-container {
  padding: var(--padding);
  max-width: 1600px;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  overflow-x: hidden;
  min-height: calc(100vh - 6rem); /* Ensure it takes up the viewport minus the footer height */
  box-sizing: border-box;
}

